:root {
  /* Tipografia */
  --tipo-principal: "Roboto Slab", serif;
  --tipo-secundaria: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

video {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-weight: inherit;
  font-size: inherit;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--blanco);
  color: var(--negro);
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header__nav {
  width: 90%;
  margin: auto;
}
.header__ul {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__li {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1em;
}
.header__li:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: blue;
}
.header__li.selected {
  color: blue;
  border-bottom: 2px solid blue;
}
.header__a {
  padding: 0.5em;
}

.tab1__center {
  width: 90%;
  margin: auto;
}
.tab1__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1.2em;
}
.tab1__h1 {
  margin: 0 1em;
}
.tab1__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tab1__star {
  margin-bottom: 0.5em;
  padding: 0 0.1em;
}
.tab1__img {
  width: 85%;
}
.tab1__options {
  min-height: 82vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3em 1fr 3em 1fr 3em 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .tab1__options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.8fr 1em 0.8fr 1em 0.8fr;
    grid-template-columns: repeat(3, 0.8fr);
    gap: 1em;
  }
}
@media screen and (max-width: 780px) {
  .tab1__options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.8fr 1em 0.8fr;
    grid-template-columns: repeat(2, 0.8fr);
    gap: 1em;
  }
}
@media screen and (max-width: 540px) {
  .tab1__options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.8fr;
    grid-template-columns: repeat(1, 0.8fr);
    gap: 1em;
  }
}
@media screen and (max-width: 360px) {
  .tab1__options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.8fr;
    grid-template-columns: repeat(1, 0.8fr);
    gap: 1em;
  }
}
.tab1__div {
  width: 100%;
  min-height: 80vh;
  margin: 0 1em;
  position: relative;
  border: 1px solid #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tab1__div.selected {
  border: 2px solid #0C75c5;
}
.tab1__description {
  padding: 1em 0;
}
.tab1__line {
  width: 5em;
  border: 1px solid black;
}
.tab1__ul {
  width: 90%;
  padding: 0 1em;
}
.tab1__li {
  list-style-type: disc;
  margin: 1em 0.2em;
}
.tab1__button {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 1em;
  border: 1px solid saddlebrown;
}
.tab1 .radio {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 0.5em auto;
  -ms-grid-columns: min-content 0.5em auto;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  gap: 0.5em;
  position: absolute;
  bottom: 1em;
  background-color: #FAFAFA;
}
.tab1 .radio.selected {
  border: 2px solid #0C75c5;
}
.tab1 .radio .radio__input input[type=radio] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  width: 0.8em;
  height: 0.8em;
}
.tab1 .radio .radio__input input[type=radio]:checked + .radio__control {
  margin-left: 1em;
  background: #6DC138;
  border: 1.2px solid #6DC138;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.tab1 .radio .radio__control {
  display: block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  margin-left: 1em;
  border: 0.1em solid black;
  background: white;
}
.tab1__reg {
  width: 100%;
  padding: 0.8em 0.8em;
  margin-left: -0.5em;
}

#tab2 {
  display: none;
}

.tab2__acordeon {
  width: 90%;
  margin: 2em auto;
  padding: 1em 2em;
  background-color: #FFFFFF;
}
.tab2__fila {
  width: 100%;
  margin: 2em 0;
  padding: 1em;
  border: 1px solid green;
}
.tab2__fila.open .tab2__options {
  height: 100vh;
}
.tab2__h2 {
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 1em;
  cursor: pointer;
}
.tab2__subtext {
  margin-left: 1em;
}
.tab2__options {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 0fr 0 0fr;
  grid-template-rows: repeat(2, 0fr);
  gap: 0;
}
.tab2__options > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.tab2__options > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.tab2__centered {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
  grid-template-columns: 1fr 3fr;
  border: 2px solid #FAFAFA;
  margin-bottom: 1em;
}
@media screen and (max-width: 1200px) {
  .tab2__img {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .tab2__img {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .tab2__img {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  .tab2__img {
    display: none;
  }
}
.tab2__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1.5em;
  position: relative;
}
.tab2__h3 {
  margin-bottom: 0.8em;
}
.tab2__p {
  width: 45%;
}
.tab2__subop {
  width: 100%;
  margin: 2em 0;
}
.tab2__h6 {
  cursor: pointer;
}
.tab2__drop {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.tab2__subop.ver .tab2__drop {
  height: 30vh;
}
.tab2__inc {
  margin-bottom: 0.3em;
}
.tab2__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2em 1fr 2em 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
.tab2__li {
  list-style-type: disc;
  margin: 0.2em 0.2em;
}
.tab2__other {
  margin-top: 5em;
  font-weight: bold;
}