// Add your sass variables here
// For examples, colors, font related, media queries breakpoints, z-index...

// Colors
$c-primary           : #003970;
$c-primar-hover      : #0a5397;
$c-secundary         : #0C75c5;
$c-secundary-hover   : #108ded;
$c-text              : #4E5055;
$c-featured          : #BE2227;
$c-selected          : #6DC138;
$c-background        : #FFFFFF;
$c-background2       : #FAFAFA;

// Font
$f-base: 16;
// ...
